.product-section {
  display: flex;
  height: 70vh;
  margin-right: 4vw;
  margin-left: 4vw;

  .product-details-image {
    display: flex;
    height: 50vh;
    width: 50%;
    align-content:center;
  }

  .product-details {
    display: flex;
    height: auto;
    width: 50%;
    flex-direction: column;
    align-content: center;
    text-align: center;
    .product-title-price {
      display: flex;
      height: auto;
      width: auto;
      flex-direction: column;
    }
    .product-included {
      display: flex;
      height: auto;
      width: auto;
    }

  }
}

.main-product-content {
  max-width: 50vw;
  display: flex;
  margin: 0 auto;
  padding: 0 2rem;

  @include md-max {
    display: block;
  }

  @include small-xs {
    padding: 0 1.5rem;
  }

  .product-sidebar {
    display: flex;
    top: 6.5rem;
    min-width: 16rem;
    position: sticky;
    align-self: flex-start;
    justify-content: space-between;

    @include md-max {
      display: none;
    }
  }

  .product-images {
    display: flex;
    width: 50vw;
    margin: 0 4rem;
  }

  .product-detail {
    position: sticky;
    top: 6.5rem;
    min-width: 24rem;
    align-self: flex-start;

    @include md-max {
      padding: 1.5rem 1em 0;
    }

    @include small-xs {
      padding: 1.5rem 0 0;
      min-width: 15rem;
      align-self: flex-start;
    }
  }
}
.list-item{
  color: white;
  position: relative;
  left: 0px;
  right: 0px;
  overflow: hidden;
  width: 22.5vw;
  height: 30vw;
  margin: 0vw 1vw 2vw;
  padding-right: 0px;
  padding-left: 0px;
  clear: none;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 15px;
  cursor: pointer;
  -o-object-fit: fill;
  object-fit: fill;
  display: inline-flex;
  transition: 0.4s ease;
  @include iphone6 {
    width: 86vw;
    height: 35vw;
    margin-top: 3vw;
    margin-right: 0vw;
    margin-left: 0vw;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-radius: 3vw;
  }
  .product-bottom {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: flex;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    align-items: stretch;
    font-size: 0.9vw;
    background-color: #2f1959;
    color: #fff;
    height: 6vw;
    opacity: 0.9;
    @include iphone6 {
      position: static;
      width: 60%;
      height: 100%;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
      font-size: 1.3vw;
    }
    .product-name-price {
      position: relative;
      left: auto;
      top: auto;
      right: auto;
      bottom: auto;
      display: flex;
      padding: 0.25vw 0.75vw;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: space-around;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      align-self: stretch;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background-color: rgba(47, 25, 89, 0.9);
      @include iphone6 {
        display: -webkit-box;
        margin-top: 2vw;
        margin-left: 3vw;
        width: auto;
        margin-bottom: 2vw;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-left: 2vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 3vw;
      }
      .product-link{
        margin-bottom: 0.3vw;
        color: white;
        font-size: 1vw;
        line-height: 1;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.05vw;
        opacity: 1;
        @include iphone6 {
          -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
          align-self: flex-start;
          -webkit-box-flex: 0;
          -webkit-flex: 0 auto;
          -ms-flex: 0 auto;
          flex: 0 auto;
          line-height: 1.5;
          letter-spacing: 0.08vw;
          align-self: flex-start;
          font-size: 3vw;
        }
      }
      .product-link-price{
        margin-bottom: 0.3vw;
        color: #e6e6e6;
        font-size: 0.8vw;
        line-height: 1;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.05vw;
        @include iphone6 {
          -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
          align-self: flex-start;
          -webkit-box-flex: 0;
          -webkit-flex: 0 auto;
          -ms-flex: 0 auto;
          flex: 0 auto;
          letter-spacing: 0.05vw;
          align-self: flex-start;
          font-size: 3vw;
        }
      }
    }
    .home-add-to-cart {
      position: relative;
      color: white;
      width: 5vw;
      height: 100%;
      display: flex;
      left: auto;
      top: auto;
      right: 0%;
      bottom: 0%;
      overflow: visible;;
      padding: 1.5vw 1vw;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      align-self: end                                                                                                                    ;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 0 auto;
      background-color: #ec4622;
      font-size: 0.9vw;
      font-weight: 600;
      text-align: right;
      letter-spacing: 0.02vw;
      transition: color 200ms ease, background-color 200ms ease;
      cursor: pointer;
      @include iphone6 {
        width: auto;
        min-width: auto;
        padding: 3vw 5vw;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
        font-size: 3vw;
      }
    }
  }
  .home-item-link{
    display: flex;
    width: 30vw;
    margin-right: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border-radius: 0px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    color: #fff;
    font-weight: 200;
    text-align: left;
    -o-object-fit: cover;
    object-fit: cover;
    align-items: center;
    transition: 0.4s ease;
    @include iphone6 {
      width: 60%;
      height: 100%;
    }


  }
  &:hover {
    transform: translate3d(0px, 3vh, 0px);
    cursor: pointer;
  }
}