.contact-form-banner {
  display: block;
  overflow: hidden;
  padding-top: 10vw;
   padding-bottom: 6vw;
  -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   padding-left: 0px;
   -webkit-box-pack: center;
   background-color: transparent;
  position: relative;
  @include iphone6{
    margin-bottom: 0vw;
    padding-top: 0vw;
    padding-bottom: 0vw;
    background-color: #2f1959;
  }
  .cont_img_light {
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    padding-right: 5vw;
    @include iphone6{
      display: none;
    }
    .light {
      display: block;
      width: 75vw;
      border-bottom: 1px solid #000;
      max-width: 100%;
    }
  }
  .cont_img_mid {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    display: block;
    padding-top: 10vw;
    padding-bottom: 10vw;
    padding-left: 52vw;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    @include iphone6 {
      display: none;
    }
    .mid {
      width: 34vw;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      max-width: 100%;
      vertical-align: middle;
    }
  }
  .cont_img_high {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    display: block;
    padding-top: 6vw;
    padding-left: 55vw;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    @include iphone6{
      z-index: 0;
      display: block;
    }
    .high {
      position: static;
      display: block;
      width: 23vw;
      margin-right: 15vw;
      @include iphone6{
        width: 100vw;
        height: auto;
        margin-top: 0vw;
        margin-right: 0vw;
        margin-left: -54vw;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        transform: scale(1.8);
      }
    }
  }
  .image-21 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    z-index: -1;
    width: 12vw;
    margin-top: 8vw;
    margin-left: 13vw;
    max-width: 100%;
    vertical-align: middle;
  }
  .contact-section{
    display: block;
    padding-right: 12.5vw;
    padding-left: 12.5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    box-sizing: border-box;
    @include iphone6{
      position: relative;
      z-index: 1;
      width: auto;
      padding: 26vw 15vw;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
    }
    .contact-form{
      position: relative;
      z-index: 999999;
      width: 25vw;
      @include iphone6{
        width: auto;
        padding-right: 0vw;
        padding-left: 0vw;
      }
      .contact-fields-form{
        .input-fields-form{
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
          -ms-flex-align: start;
          align-items: flex-start;
          text-align: left;
          .contact_label{
            display: none;
            margin-bottom: 0vh;
            padding-top: 0.5vw;
            -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
            align-self: flex-start;
            color: #fff;
            font-size: 1.3vw;
            line-height: 1;
            text-transform: none;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: default;
            @include iphone6{
              display: none;
            }
          }
          .contact_text_field{
            /*margin-top: 1vw;*/
            margin-bottom: 0px;
            padding: 0px;
            border-style: solid;
            border-width: 0px 0px 1px;
            border-color: #fff;
            border-radius: 0px;
            background-color: hsla(0, 0%, 100%, 0) !important;
            color: #141c8a;
            font-size: 1.1vw;
            line-height: 1;
            letter-spacing: 0.05vw;
            display: block;
            width: 100%;
            height: auto;
            vertical-align: middle;
            background-color: #ffffff;
            @include iphone6{
              align-self: auto;
              -webkit-box-flex: 0;
              -webkit-flex: 0 auto;
              flex: 0 auto;
              font-size: 3.5vw;
              line-height: 1.5;
            }
          }
          .contact-dropdown{
            margin-top: 1.2vh;
            margin-bottom: 1vh;
            padding-left: 1vw;
            //padding: 2px;
           // border-bottom: 1px solid $gray-400;
            background-color: transparent;
            color: #ef799b;
            font-size: 1vw;
            display: block;
            width: 100%;
            height: auto;
            line-height: 1;
            vertical-align: middle;
            @include iphone6 {
              font-size: 3vw;
            }
          }
          .gdpr-checkbox{
            font-size: smaller;
            background-color: transparent;
            color: #ef799b;
            display: flex;
            flex-direction: row;
            align-items: center;
            @include iphone6 {
              font-size: 3vw;
            }
            .gdpr-text{padding: 10px;}
          }
        }
      }
    }
    .contact-section-text{
      display: block;
      width: 26vw;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
      -ms-flex: 0 auto;
      flex: 0 auto;
      @include iphone6{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: auto;
        height: auto;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .top-paragraph-contact{
        margin-bottom: 0px;
        color: #fff;
        font-size: 1.2vw;
        line-height: 1;
        font-weight: 500;
        letter-spacing: 0.06vw;
        @include iphone6{
          align-self: auto;
          -webkit-box-flex: 0;
          -webkit-flex: 0 auto;
          -ms-flex: 0 auto;
          flex: 0 auto;
          font-size: 4vw;
          line-height: 1.2;
          font-weight: 400;
          text-align: center;
        }
      }
      .header-contact {
        margin-top: 1vw;
        color: #fff;
        font-size: 3vw;
        line-height: 1.2;
        text-align: left;
        letter-spacing: 0.1vw;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-weight: 700;
        @include iphone6{
          margin-top: 3vw;
          font-size: 7vw;
          text-align: center;
          letter-spacing: 0.1vw;
        }
      }
      .down-paragraph-contact{
        margin-top: 1.5vw;
        margin-bottom: 0px;
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 1vw;
        text-align: left;
        line-height: 1.6;
        @include iphone6{
          position: static;
          display: block;
          width: 70vw;
          line-height: 1.6;
          text-align: center;
          font-size: 3.5vw;
        }
      }
      .button-hero-contact {
        top: auto;
        bottom: auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: auto;
        margin-top: 4.5vw;
        margin-bottom: 0px;
        padding-bottom: 0vh;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        font-size: 2vw;
        outline: none;
        @include iphone6 {
          width: 60vw;
          margin-top: 15vw;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
          justify-content: center;
        }
      }
    }
  }
}