
.corporate-banner {
  min-height: 0px;
  padding-top: 10vw;
  padding-left: 12.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  display: flex;
  @include iphone6{
    padding: 0vw 7vw;
    display: block;
    margin-bottom: 20vw;

  }
  .corporate-event{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-top-left-radius: 4vw;
    border-bottom-left-radius: 4vw;
    background-color: #2f1959;
    background-image: url("/images/Corp_Pic2.jpg");
    background-position: 0% 50%;
    background-size: 100vw;
    z-index: 99999;
    @include iphone6{
      margin-right: 0vw;
      margin-left: 0vw;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #2f1959;
      background-image: url("/images/Corp_Pic2.jpg");
      background-position: 50% 50%;
      background-size: cover;

    }
    .corporate-event-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 45%;
      padding: 7.5vw 10vw;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      background-color: rgba(47, 25, 89, 0.6);
      font-size: 1vw;
      line-height: 1;
      color: #ffffff;
      @include iphone6{
        width: auto;
        margin-top: 0vw;
        margin-bottom: 0vw;
        padding: 23vw 13vw;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
      }
      .paragraph-list{
        display: block;
        width: 30vw;
        margin-left: 0vw;
        padding-top: 0vh;
        padding-right: 0vw;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        font-size: 1vw;
        text-align: left;
        line-height: 1.6;
        letter-spacing: 0.05vw;
        @include iphone6{
          width: 60vw;
          margin-top: 7vw;
          padding-right: 0vw;
          font-size: 3.5vw;
        }
      }

      .text-corporate-package-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: auto;
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        font-size: 14px;
        text-align: left;
        justify-content: center;
        line-height: 1;
        .text-header{
          margin-top: 1vw;
          align-self: auto;
          color: #fff;
          font-size: 3.3vw;
          line-height: 1.2;
          text-align: left;
          letter-spacing: 0.1vw;
          text-transform: none;
          margin-bottom: 0px;
          padding-bottom: 0px;
          font-weight: 700;
          @include iphone6{
            margin-top: 3vw;
            font-size: 7vw;
            line-height: 1.2;
            letter-spacing: 0.1vw;
          }
        }
        .paragraph-text-corporate{
          margin-bottom: 0px;
          -webkit-align-self: auto;
          align-self: auto;
          color: #fff;
          font-size: 1.3vw;
          line-height: 1;
          font-weight: 500;
          text-align: left;
          letter-spacing: 0.06vw;
          @include iphone6{
            color: #fff;
            font-size: 4vw;
            font-weight: 400;
          }
        }
      }
    }
  }
}
