
.explore-banner {
  .explore-girl {
    background: url("/images/Mainbg_high-01.svg") center center/cover;;
    padding-bottom: 100%;
  }

  .explore-banner--image {
    background: url("/images/Mainbg_light-01.svg") center center/cover;
    padding-bottom: 100%;

    @include md {
      padding-bottom: 180%;
    }
    @include lg {
      padding-bottom: 144%;
    }

    @include xl {
      padding-bottom: 112%;
    }
  }
}
